extends layout

block content
  h1= title
  h2 Income
  ul
  each transaction in income 
    li 
      p #{transaction.description}
      p #{transaction.datetime_formatted}
      //- if !transaction.from.name==="EARNED"
      if transaction.from.type ==="Service"
        p #{transaction.from.name}
      else 
        p to #{transaction.from.name}
  else 
    p No transactions
  h2 Outcome
  ul
  each transaction in outcome
    li 
      p #{transaction.description}
      p #{transaction.datetime_formatted}
      p #{transaction.category.name === undefined ? "" :  transaction.category.name}
      if transaction.to.type ==="Service"
        p #{transaction.to.name}
      else 
        p to #{transaction.to.name}

  else 
    p No transactions